body{
    margin: 0;
    font-family: "Source Sans 3" , sans-serif;
    color: #21272c;
}



*{
    box-sizing: border-box;
}

.logo{
    width: 220px;
}

a{

    font-size: 1.04rem;
    color: #f07651;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}


a:hover , a:focus{
    text-decoration: underline;
}

p,h1,h2{
    margin: 0;


}

.signup-btn , .header-links{
    display: none;
}



.offline-header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #21272c;
    padding-top: .4em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;

}


.container{
    margin: 0 auto;
    width: 100%;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 1.1em 2.5em;
    background: linear-gradient(to right, #ff713b, #ffa51d);
    border: none;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 750;
    cursor: pointer;


}


.sign-in{
    font-weight: 300;
    font-size: .9rem;
    text-align: center;
}

.sign-up-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sign-up-section-menu{
    margin-top: auto;
}



.hamburger-menu{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}


.header-links-menu{
    display: block;
    font-size: 1.5rem;
    margin-bottom: .2em;
}


@media(min-width: 1050px) {
    .signup-btn , .header-links{
        display: block;
    }

    .hamburger-menu{
        display: none;
    }

    .offline-header{
        padding: .9em 0;
    }

  .container{
      width: 1000px;
  }

}

.normal{
    height: auto;
}

.full{
    height: 100vh;
}

.mt{
    margin-top: 8.5em;
}

.sidebar{
    overflow-y: auto;
    position: fixed; /* Fixes the sidebar */
    top: 0;          /* Aligns it to the top */
    left: 0;
    width: 240px;
    background-color: #f8fafb;
    height: 100vh;
    border-right: #d7e2ea solid 1px;
    padding-top: 2em;
    font-weight: 650;
    display: flex;
    flex-direction: column;
}

.side-bar-element{
    text-align: center;
    display: flex;
    gap: .45em;

}

.side-bar-icons , .user-info , .side-bar-active{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


.side-bar-icons , .side-bar-active{
    border-radius: 100px;
    padding: .5em;
    margin-bottom: 1em;


}

.side-bar-icons{
    color: #21272c;
}

.side-bar-active{
    color: #f07651;
}

.side-bar-icons:hover {
    background-color: #eaedee;
    text-decoration: none;
}

.side-bar-icons:focus{
    text-decoration: none;
}

.side-bar-active:focus{
    text-decoration: none;
}

.side-bar-active:hover{
    background-color: #f8f4f4;
    text-decoration: none;
}



.side-bar-text{
    margin-top: .06em;

}

.element{
    font-size: 1.5rem;
}


.user-info{
    display: flex;
    margin-left: 1.2em;
    margin-bottom: 3em;
    align-items: center;
    gap: .2em;
}


.first-letter{
    padding: .6em 1.1em;
    background-color: #d27979;
    border-radius: 5px;
    color: white;
}


.logout{
    margin-top: auto;
    font-size: 1.05rem;
    margin-bottom: 1.8em;
}




/*CONTENT FOR THE APP*/

.content{

    margin-left: 240px;
    margin-top: 4em;
}



/*LOGIN PAGE*/


.login-page{
    width: 470px;
    margin-left: auto;
    margin-right: auto;

}

input , .error-div{
    width: 100%;
    border-radius: 5px;

}

input{
    padding: .9em .5em;
    border: #bfced9 solid 1px;
}

.error-div{
    padding: .5em .5em;
    margin-top: .3em;
    background-color: #fdf0ec;
    color: #b82b00;
}

.sign-in-btn{
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: .8em 1em;
    border: none;
    background-color: #f07651;
    color: white;
    font-size: .9rem;
    cursor: pointer;
    margin-top: .8em;

}

.sign-in-btn:hover{
    background-color: #f17d5a;
}

.icon{
    font-size: 1.3rem;

}


label{
    font-weight: 650;
    display: inline-block;
    margin-bottom: .5em;
    margin-top: .8em;
}


.register-h2{
    margin-bottom: .2em;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: .2em;
    font-weight: 550;
}


.chef-hat{
    margin-bottom: .1em;
    color: #f07651;
    font-size: 3rem;
}


.forgot , .dont{
    display: block;
    text-align: center;

}

input:hover{
    background-color: #f7f9f9;
}

/*MODAL*/


.modal{
    padding: 1em 2.5em;
    border: none;
    border-radius: 10px;
    max-width: 470px;
}

.modal::backdrop{
    background: rgb(0 0 0 / .45);

}


.line {
    width: 100%; /* Line takes full width of the parent */
    height: 1px; /* Height of the line */
    background-color: #ccc; /* Line color */
    margin-top: 1em; /* Space between the content and the line */

}

.modal-text , .line{
    margin-bottom: 1em;
}


.modal-buttons{
    display: flex;
    justify-content: flex-end;
    gap: .5em;
}

.modal-btn{
    padding: .9em 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}


.default{
    background-color: white;
    border: 1px solid #e3e3e3;
}



.default:hover {
    background-color: #ececec;
    border: 1px solid #e3e3e3;
}


.confirm{
    background-color: #ef4444;
    color: white;
}



.confirm:hover {
    background-color: #b91c1c;

}


.modal-title{
    font-weight: 500;
    font-size: 1.3rem;
}


.modal-text{
    font-weight: 400;
}



/*DISCOVER RECIPES PAGE*/


.discover{
    width: 94%;
    margin: 0 auto;
}


.header{
    display: flex;
    justify-content: flex-end;

}

.dbeb{
    display: flex;

    width: 30%;
    background-color: red;
}

.header-element{
    width: 25%;
    text-align: right;
}


.header-element{
    font-weight: 600;
    font-size: 1.05rem;
}

.recipe-thumbnail{
    width: 2.5em;
    height: 2.5em;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}


.recipe-main{
    align-items: center;
    gap: .2em;

}

.recipe-main , .recipe-nutrients , .recipe{
    display: flex;
}

.recipe{
    align-items: center;
    justify-content: space-between;
}

.recipe-nutrients{
    width: 20%;
    justify-content: space-between;


}




















































