body{
    margin: 0;
    font-family: "Source Sans 3" , sans-serif;
    color: #21272c;
}



*{
    box-sizing: border-box;
}

.logo{
    width: 220px;
}

a{

    font-size: 1.04rem;
    color: #f07651;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}


a:hover , a:focus{
    text-decoration: underline;
}

p,h1,h2{
    margin: 0;


}

.signup-btn , .header-links{
    display: none;
}



.offline-header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #21272c;
    padding-top: .4em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;

}


.container{

    width: 100%;
}


.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 1.1em 2.5em;
    background: linear-gradient(to right, #ff713b, #ffa51d);
    border: none;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 750;
    cursor: pointer;


}


.sign-in{
    font-weight: 300;
    font-size: .9rem;
    text-align: center;
}

.sign-up-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sign-up-section-menu{
    margin-top: auto;
}



.hamburger-menu{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}


.header-links-menu{
    display: block;
    font-size: 1.5rem;
    margin-bottom: .2em;
}


@media(min-width: 1050px) {
    .signup-btn , .header-links{
        display: block;
    }

    .hamburger-menu{
        display: none;
    }

    .offline-header{
        padding: .9em 0;
    }

  .container{
      width: 1000px;
  }

}

.normal{
    height: auto;
}

.full{
    height: 100vh;
}

.mt{
    margin-top: 8.5em;
}

.sidebar{
    overflow-y: auto;
    position: fixed; /* Fixes the sidebar */
    top: 0;          /* Aligns it to the top */
    left: 0;
    width: 240px;
    background-color: #f8fafb;
    height: 100vh;
    border-right: #d7e2ea solid 1px;
    padding-top: 2em;
    font-weight: 650;
    display: flex;
    flex-direction: column;
}

.side-bar-element{
    text-align: center;
    display: flex;
    gap: .45em;

}

.side-bar-icons , .user-info , .side-bar-active{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


.side-bar-icons , .side-bar-active{
    border-radius: 100px;
    padding: .5em;
    margin-bottom: 1em;


}

.side-bar-icons{
    color: #21272c;
}

.side-bar-active{
    color: #f07651;
}

.side-bar-icons:hover {
    background-color: #eaedee;
    text-decoration: none;
}

.side-bar-icons:focus{
    text-decoration: none;
}

.side-bar-active:focus{
    text-decoration: none;
}

.side-bar-active:hover{
    background-color: #f8f4f4;
    text-decoration: none;
}



.side-bar-text{
    margin-top: .06em;
    letter-spacing: .1px;


}

.element{
    font-size: 1.5rem;
}


.user-info{
    display: flex;
    margin-left: 1.2em;
    margin-bottom: 3em;
    align-items: center;
    gap: .2em;
}


.first-letter{
    padding: .6em 1.1em;
    background-color: #d27979;
    border-radius: 5px;
    color: white;
}


.logout{
    margin-top: auto;
    font-size: 1.05rem;
    margin-bottom: 1.8em;
}






/*CONTENT FOR THE APP*/

.content{

    margin-left: 240px;
    margin-top: 0;
}

@media (max-width: 800px) {
    .sidebar{
        display: none;
    }

    .content{
        margin-left: 0;
    }

}



/*LOGIN PAGE*/


.login-page{
    width: 470px;
    margin-left: auto;
    margin-right: auto;

}

input , .error-div{
    width: 100%;
    border-radius: 5px;

}

input{
    padding: .9em .5em;
    border: #bfced9 solid 1px;
}

.error-div{
    padding: .5em .5em;
    margin-top: .3em;
    background-color: #fdf0ec;
    color: #b82b00;
}

.sign-in-btn{
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: .8em 1em;
    border: none;
    background-color: #f07651;
    color: white;
    font-size: .9rem;
    cursor: pointer;
    margin-top: .8em;

}

.sign-in-btn:hover{
    background-color: #f17d5a;
}

.icon{
    font-size: 1.3rem;

}


label{
    font-weight: 650;
    display: inline-block;
    margin-bottom: .5em;
    margin-top: .8em;
}


.register-h2{
    margin-bottom: .2em;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: .2em;
    font-weight: 550;
}


.chef-hat{
    margin-bottom: .1em;
    color: #f07651;
    font-size: 3rem;
}


.forgot , .dont{
    display: block;
    text-align: center;

}

input:hover{
    background-color: #f7f9f9;
}

/*MODAL*/


.modal{
    padding: 1em 1.3em;
    border: none;
    border-radius: 10px;
    max-width: 470px;

}

.modal::backdrop , .comments-modal::backdrop{
    background: rgb(0 0 0 / .45);

}

.with-keyframes[open] {
    animation: slide-in 0.3s ease normal;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.line {
    width: 100%; /* Line takes full width of the parent */
    height: 1px; /* Height of the line */
    background-color: #ccc; /* Line color */
    margin-top: 1em; /* Space between the content and the line */

}

.modal-text , .line{
    margin-bottom: 1em;
}


.modal-buttons{
    display: flex;
    justify-content: flex-end;
    gap: .5em;
}

.modal-btn{
    padding: .9em 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}


.default{
    background-color: white;
    border: 1px solid #e3e3e3;
}



.default:hover {
    background-color: #ececec;
    border: 1px solid #e3e3e3;
}


.confirm{
    background-color: #ef4444;
    color: white;
}



.confirm:hover {
    background-color: #b91c1c;

}


.modal-title{
    font-weight: 500;
    font-size: 1.3rem;
}


.modal-text{
    font-weight: 400;
}



/*DISCOVER RECIPES PAGE*/


.discover{
    width: 94%;

}

.container , .discover , .pagination {
    margin: 0 auto;
}


.header{
    display: flex;
    justify-content: flex-end;


}

.header-main{
    display: flex;
    width: 28em;


}

.header-main {
    margin-top: 4.5em;
}

.recipe-details{
    margin-top: 5.6em;

}

.header-element , .nutrient{
    width: 25%;
    text-align: right;
}


.header-element{
    font-weight: 600;

}
.header-element , .nutrient{
    font-size: 1.05rem;
}

.nutrient{
    font-weight: 380;
}

.recipe-thumbnail{
    width: 2.9em;
    height: 2.9em;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}


.recipe-main{
    align-items: center;
    gap: .2em;

}

.recipe-main , .recipe-nutrients , .recipe{
    display: flex;
}

.recipe{
    align-items: center;
    justify-content: space-between;
    padding-bottom: .3em;
    border-bottom: 1px solid #d7e2ea;
    margin-bottom: .3em;

}

.recipe-nutrients{
    width: 28em;
}


.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.blue{
    background-color: #11bdcd;
}

.purple{
    background-color: #a375ff;
}

.yellow{
    background-color: #f1b604;
}


.recipe-title{
    color: #0053ac;
    font-weight: 400;

}

.recipe-title:hover{
    text-decoration: underline;
}


@media (max-width: 1250px) {

    .nutrient{

        width: 100%;

    }
    .recipe-nutrients{
        width: auto;
    }

    .none{
        display: none;

    }

    .header-main{

        text-align: right;
    }

    .header-element{
        width: 100%;

    }

}


.pagination{
    width: 50%;
    font-weight: 900;
    margin-bottom: 3em;

}

.page_number , .page_number_current{
    padding: .2em .5em;
    border-radius: 5px;

}

.page_number{
    color: black;
}

.page_number_current{
    color: white;
    background-color: #f07651;
}

.page_number_current:hover{
    text-decoration: none;
}

.page_number:hover , .page_number:focus{
    background-color: #eff2f5 ;
    text-decoration: none;

}



.next , .page_number{
    font-size: 1.18rem;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    margin-top: 1em ;
}


/*DISCOVER RECIPES PAGE HEADER*/

.discover-header , .discover-header-scroll{
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;


}

.discover-header-scroll{
    background-color:#f8fafb ;
}

.discover-header-content{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2em;


}



.search{
    display: flex;
    align-items: center;
    background-color: white;
}

.search:focus , .search:hover{
    background-color: #f7f9f9;
}

.search:focus-within{
    border: 1px solid black;

}

.input-search{
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: .2em .3em;
}

.input-search:hover ,.input-search:focus {
    border: none;

}

.discover-search-logo {
    font-size: 1.5rem;

}

.filter {
    cursor: pointer;
    padding: .5em 1.1em ;
    border-radius: 100px;
    display: flex;
    gap: .2em;
    background-color: white;
    justify-content: center;
}

.filter:hover , .filter:focus{
    background-color: #f7f9f9;

}

.discover-filter-logo{
    font-size: 1.25rem;

}

.search , .filter{
    border: 1px solid #d6dfe6;
}

@media (max-width: 1000px) {

    .discover-header-content {
        flex-direction: column;
        align-items: flex-start;
        gap: .9em;

    }

    .header-main{
        margin-top: 8em;

    }

    .recipe-details{
        margin-top: 10em;

    }
}


/*RECIPE PAGE*/

.recipe-name , .planner-title{
    font-weight: 500;
    font-size: 1.65rem;
}

.recipe-details{
    display: flex;
    flex-direction: column;

}



.recipe-view{
    display: flex;
    flex-direction: column;
  
}

.recipe-img{
    align-self: center;
    max-width: 500px;
    border-radius: 5px;
    width: 100%;

}
.recipe-interactions{
    display: flex;
    align-self: center;
    gap: .5em;
    margin-top: .7em;
    margin-bottom: 3.5em;

}


.interaction-btn{
    padding: .3em .3em;
    font-size: 1.5rem;
    border: solid 1px #ccd8e1;
    border-radius: 50%;
    display: flex;           /* This helps center the icon */
    align-items: center;     /* Vertically center */
    justify-content: center; /* Horizontally center */
    cursor: pointer;

}

.interaction-btn:hover , .interaction-btn:focus{
    background-color: #f3f5f5;

}

.cook-prep{
    font-size: 1.1rem;
    font-weight: 390;
}

.strong{
    font-weight: 520;
}

.ingredient{
    display: flex;
    gap: .4em;
    height: 4em;
    font-size: 1.1rem;
    margin-bottom: 1em;
}


.ingredient-img{
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
    object-position: center;
}

.ingredient-name{
    color: #00538f;
    font-weight: 600;

}

.recipe-view  , .second{
    margin-bottom: 1.6em;
}

.recipe-page-title{
    font-weight: 500;
    font-size: 1.37rem;
    margin-bottom: .7em;

}

.directions{
    line-height: 1.6;
    margin-bottom: 1em;
}

.pie-chart{
    width: 53%;
    margin: 0 auto;
}

@media (min-width: 603px) {
    .recipe-img{
        width: 100%;
    }
    .nutritions-infos{
        width: 70%;
    }
}


@media (min-width: 980px) {
    .recipe-details{
        flex-direction: row;
        gap: 6em;
    }

    .recipe-view{
        width: 45%;
    }

    .recipe-cooking-details{
        width: 55%;
    }

    .recipe-img{
        max-width: 100%;
    }
    .nutritions-infos{
        width: 100%;

    }

}


@media (min-width: 1350px) {
    .recipe-view{
        width: 30%;
    }

    .recipe-cooking-details{
        width: 70%;
    }


}

@media (min-width: 1400px) {
    .directions{
        width: 70%;
        font-size: 1.08rem;
    }

    .recipe-page-title{
        font-size: 1.6rem;
    }


}

.recipe-link:hover{
    text-decoration: none;
}


.back-icon{
    font-size: 1.27rem;
}

.back-link{
    color: #21272c;
    display: flex;


}

.invisible{
    display: none;
}

.one-serving{
    margin-bottom: 1em;
    font-size: 1.14rem;
    font-weight: 600;
}

.info-row{
    display: flex;
    justify-content: space-between;
    font-size: 1.05rem;
}

/*COMMENTS MODAL */


.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.close-btn{
    font-size: 1.3rem;
}

.comments-modal{

    padding: 1em 1.3em;
    border-radius: 10px;
    width: 750px;
    margin-top: 2.5em;
    border: none;

}

.comment{
    display: flex;
    gap: .5em;
    margin-bottom: .9em;
}

.user-avatar{
    width: 35px;
    height: 35px;
    background-color: #f07651;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .1em;

}

.comment-content{
    background-color: #e4e4e6;
    border-radius: 18px;
    padding: .2em 1em;

}


.post-time{
    margin-left: .9em;
}

.comment-owner{
    font-weight: 600;
}

.post-time{
    font-size: .8rem;
    font-weight: 350;
}

.comment-text{
    font-weight: 390;
    color: #2c3237;
}


.comment-input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 1em 1em;
    padding-bottom: 1.3em;
    font-size: 1rem;
    resize: none;

}



.comment-input , .comment-input:hover{
    background-color: #f3f4f6;

}

.input-wrapper{
    display: flex;
    background-color: #f3f4f6;
    padding-right: .8em;
    padding-bottom: .8em;


}


.send-comment{
    align-self: flex-end;
    font-size: .8rem;
    background-color: #f07651;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.send-btn{
    margin-left: .1em;
}

.send-comment:hover{
    background: white;
    color: #f07651;
    border: 1.8px solid #f07651;
}



/*MEAL PLANNER PAGE*/



.meal-planner-main{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-planner-img , .meal-planner-slogan{
    margin-bottom: .5em;
}

.meal-planner-slogan{
    font-weight: 500;
    letter-spacing: 1px;
}



.manually, .generate-btn{
    font-size: 1.06rem;
    width: 240px;
    text-align: center;
}



.manually{
    border-color : #d5dfe6;

}

.generate-btn{
    cursor: pointer;
    padding: .5em 1.1em ;
    border-radius: 100px;
    border: none;
    background-color: #f07651;
    display: flex;
    align-items: center; /* Vertically center the icon and text */
    justify-content: center; /* Horizontally center the icon and text */
    gap: .2em;
    color: white;
}

.generate-btn:hover{
    background-color: #f17d5a;
}

.generate-icon{
    font-size: 1.35rem;
}

.meal-planner-btn{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 1em;
}


@media (min-width: 900px) {
    .meal-planner-btn{
        flex-direction: row;
    }

    .manually, .generate-btn{
        width: auto;
    }
}

.meal-plan-page{
    margin-top: 6em;
}

.plan-infos{
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;

}

.plan-generate-icon{
    margin-left: auto;

}

.dots-icon{
    margin-left: .7em;

}


.plan-generate-icon , .dots-icon{
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    padding: .4em .4em;
}

.plan-calories{
    margin-left: 5em;
    color: #61676b;
    font-weight: 380;
}

.plan-title{
    font-weight: 480;
}


.meal{
    background-color: #f2f8fc;
    padding: .3em .9em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.meal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.dark-hover:hover{
    background-color: #e8eef2;
}

.meal-title{
    font-weight: 500;
    font-size: 1.3rem;
}


.meal-calories{
    color: #61676b;
    font-weight: 380;
}

.meal-recipe-img{
    width: 5.3em;
    height: 4em;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.meal-calories{
    margin-bottom: .7em;
}

.meal-recipe{
    display: flex;
    gap: .5em;
    cursor: pointer;
    padding-top: .65em;
    transition: background-color .3s;
}

.meal-recipe:hover{
    background-color: #e8eef2;


}

.meal-recipe-title{
    color: #006db9;
    font-weight: 600;
    font-size: 1.07rem;


}

.serving{
    font-weight: 380;
    font-size: .9rem;
    color:#303a41 ;
}


.planner-pie-chart{
    width: 14em;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1.1em;
}

.nutrition-info{
    display: flex;

}

.nutrition{
    margin-bottom: 2em;
}

.actual , .totals{
        width: 65%;
}

.desired , .target{
    width: 35%;
    text-align: right;
}

.totals{
    text-align: right;
}

.nut-info , .target , .totals{
    font-weight: 550;
}

.totals{
    margin-left: auto;
}

.totals , .target {
    color: #00538f;
}


@media (min-width: 1100px) {
    .meal-plan-page{
        display: flex;

    }

    .meals{
        width: 55%;
    }

    .nutrition{
        margin-left: 3em;
        flex-grow: 1;

    }



}

.bascketball{
    display: none;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.bascketball-img{
    width: 50%;

}

@media (min-width: 1600px) {

    .meals{
        width: 50%;
    }

    .nutrition{
        flex-grow: 0;
        width: 28%;

    }

    .bascketball{
        display: flex;
    }



}


.preferances{
    width: 300px;
    margin-top: 1em;
    border-radius: 5px;
    padding: 1em 0;

}

.meal-planner-form{
    gap: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calor-pref{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;


}

.div-align{
    font-weight: 500;
    width: 90px;
    text-align: right;


}



.calories-input , .meals-drop-down{
    width: 25%;
    text-align: right;

}

.meals-drop-down{
    padding: .8em 0;
    border-color: #cbd8e1;
    border-radius: 5px;
}

.div-grow{
    width: 25%;
}





.calories-input::-webkit-outer-spin-button,
.calories-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.meal-form-btns{
    align-self: flex-end;
    margin-top: 2em;
    margin-bottom: 0;
}

.protein-des{
    margin-top: .2em;
}


.meal-recipe-link{

    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    color: #006db9;
}


.meal-recipe-link:hover , .meal-recipe-link:focus{
    text-decoration: none;
}
















































