body{
    margin: 0;
    font-family: "Source Sans 3";
}


*{
    box-sizing: content-box;
}

.logo{
    width: 220px;
}

a{

    font-size: 1.04rem;
    color: #f07651;
    text-decoration: none;
    font-weight: 500;

}


a:hover , a:focus{
    text-decoration: underline;
}


.signup-btn , .header-links{
    display: none;
}



.offline-header{
    background-color: #21272c;
    padding-top: .4em;
    padding-left: 1em;
    padding-right: 1em;
}


.container{
    margin: 0 auto;
}

.container-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: .9em 2.2em;
    background: linear-gradient(to right, #ff713b, #ffa51d);
    border: none;
    color: white;
    border-radius: 4px;
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 750;
    cursor: pointer;


}


.sign-in{
    font-weight: 300;
    font-size: .9rem;
    text-align: center;
}

.sign-up-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-menu{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}


@media(min-width: 1050px) {
    .signup-btn , .header-links{
        display: block;
    }

    .container-flex{
        width: 1000px;
    }

    .hamburger-menu{
        display: none;
    }

    .offline-header{
        padding: 1.2em 0;
    }

}